<div class="box-pageHead">
	<h1 class="ttl-pageHead">
		<span class="txt-pageHeadEn txt-fontAlphabet">News</span>
		<span class="txt-pageHeadJp">お知らせ</span>
	</h1><!-- /.ttl-pageHead -->
	
	<p class="txt-pageHeadCaption">石川県加賀市の工務店、ロイヤルハウス加賀店by株式会社北出木材工業の最新情報などを配信していきます。</p>
</div><!-- /.box-pageHead -->