<footer class="box-footer">
	<div class="box-companyInfoFooter">
		<div class="img-siteTitleFooter">
			<img src="/img/common/logoRoyalHouseFooter.png" alt="ROYAL HOUSE by 北出木材工業" width="100%" height="">
		</div>
		<p class="txt-companyAddress">&#12306;922-0424　石川県加賀市小菅波町1-154</p>
		<p class="txt-companyTel">TEL 0761-72-0212</p>
		<p class="txt-companyFax">FAX 0761-72-6722</p>
	</div><!-- /.box-companyInfoFooter -->
	
	<nav class="box-footerNav">
		<ul class="list-footerNav">
			<li class="item-footerNav">
				<a class="btn-footerNav" href="#">お知らせ</a>
			</li>
			<li class="item-footerNav">
				<a class="btn-footerNav" href="#">採用情報</a>
			</li>
			<li class="item-footerNav">
				<a class="btn-footerNav" href="#">Link</a>
			</li>
			<li class="item-footerNav">
				<a class="btn-footerNav" href="#">北出木材工業について</a>
			</li>
			<li class="item-footerNav">
				<a class="btn-footerNav" href="#">よくある質問</a>
			</li>
			<li class="item-footerNav">
				<a class="btn-footerNav" href="#">Facebook</a>
			</li>
			<li class="item-footerNav">
				<a class="btn-footerNav" href="#">家づくりについて</a>
			</li>
			<li class="item-footerNav">
				<a class="btn-footerNav" href="#">お問い合わせ・資料請求</a>
			</li>
			<li class="item-footerNav">
				<a class="btn-footerNav" href="#">Instagram</a>
			</li>
			<li class="item-footerNav">
				<a class="btn-footerNav" href="#">施工事例</a>
			</li>
			<li class="item-footerNav">
				<a class="btn-footerNav" href="#">プライバシーポリシー</a>
			</li>
			<li class="item-footerNav">
				<a class="btn-footerNav" href="#">ロイヤルハウス</a>
			</li>
		</ul><!-- /.list-footerNav -->
	
		<div class="box-footerSns">
			<a class="btn-footerSns"><img src="/img/common/icoFacebookFooter.png" alt="Facebookアイコン" width="100%" height=""></a>
			<a class="btn-footerSns"><img src="/img/common/icoInstagramFooter.png" alt="Instagramアイコン" width="100%" height=""></a>
		</div><!-- /.box-footerSns -->
	</nav>
	
	<div class="box-copyright txt-fontAlphabet">Copyright 2019 Kitade Mokuzai</div>
</footer><!-- /.box-footer -->