<header class="box-header">
	<div class="box-siteTitle">
		<a href="#">
			<img class="img-siteTitle" src="/img/common/logoRoyalHouseHeader.png" alt="ROYAL HOUSE by 北出木材工業" width="301" height="58">
			<img class="img-siteTitle--sp" src="/img/common/logoRoyalHouseHeaderSp.png" alt="ROYAL HOUSE by 北出木材工業" width="170" height="">
		</a>
	</div>
	
	<nav class="box-globalNav">
		<div class="box-contactSp">
			<a href="#">
				<img src="/img/common/icoMailHeaderSp.png" alt="お問い合わせ" width="24" height="">
			</a>
		</div><!-- /.box-contactSp -->
		
		<input id="interactionHamburger" type="checkbox">
		
		<label for="interactionHamburger" class="btn-hamburger"><span></span></label>
		
		<ul class="list-globalNav">
			<li class="item-globalNav">
				<a class="btn-globalNav txt-fontAlphabet" href="#">News</a>
			</li>
			<li class="item-globalNav">
				<a class="btn-globalNav txt-fontAlphabet" href="#">About us</a>
			</li>
			<li class="item-globalNav">
				<a class="btn-globalNav txt-fontAlphabet" href="#">Works</a>
			</li>
			<li class="item-globalNav">
				<a class="btn-globalNav txt-fontAlphabet" href="#">Style of building</a>
			</li>
			<li class="item-globalNav">
				<a class="btn-globalNav txt-fontAlphabet" href="#">Recruit</a>
			</li>
			<li class="item-globalNav">
				<a class="btn-globalNav txt-fontAlphabet" href="#">FAQ</a>
			</li>
		</ul><!-- /.list-globalNav -->
		
		<div class="box-contact">
			<div class="box-contactMail">
				<a href="#"><img src="/img/common/icoMailHeader.png" alt="お問い合わせ" width="24" height="18"></a>
			</div>
			<div class="box-contactTel">
				<img src="/img/common/icoPhoneHeader.png" alt="電話" width="24" height="24">
				<p class="txt-contactTel txt-fontAlphabet">0761-72-0212</p>
			</div>
		</div><!-- /.box-contact -->
	</nav><!-- /.box-globalNav -->
</header><!-- /.box-header -->