<div class="box-columnPageNation">
	<a class="btn-columnPageNation btn-columnPageNation--prev" href="#">Prev</a>
	<a class="btn-columnPageNation btn-columnPageNation--all" href="#">All</a>
	<a class="btn-columnPageNation btn-columnPageNation--next" href="#">Next</a>
</div><!-- /.box-columnPageNation -->