/* ローカルナビ */
/* PC view */
.list-columnNavigation {
  display: flex;
  justify-content: center;
  margin: 50px 0 52px
}

.item-columnNavigation {
  margin-left: 30px
}

.item-columnNavigation:first-child {
  margin-left: 0
}

.btn-columnNavigation {
  font-size: 16px;
  line-height: 1.2;
  text-decoration: none;
  color: #1a1a1a;
  transition-property: opacity;
  transition-duration: .3s;
  transition-timing-function: ease
}

.btn-columnNavigation:link, .btn-columnNavigation:visited {
  color: #1a1a1a
}

.btn-columnNavigation:hover {
  opacity: .8
}

/* SP view */
@media screen and (max-width:812px) {
  .list-columnNavigation {
    margin: 42px 0 18px
  }
  .btn-columnNavigation {
    font-size: 13px
  }
}