<nav class="box-columnNavigation">
	<ul class="list-columnNavigation">
		<% for (var key in dataColumnNavigation) { %>
		<li class="item-columnNavigation txt-fontAlphabet">
			<a class="btn-columnNavigation" href="#"><%= dataColumnNavigation[key].txtColumnNavigation %></a>
		</li>
		<% } %>		
	</ul><!-- /.list-columnNavigation -->
</nav>