<% if (typeof txtTransition === 'undefined') { var txtTransition = ''; } %>
<div class="wp-transition">
	<a class="btn-transition txt-fontAlphabet" href="#"><%= txtTransition %></a><!-- /.btn-readMore -->
</div><!-- /.wp-transition -->