<div class="box-addToContact">

<h2 class="ttl-contentHead">
	<span class="txt-contentHeadEn txt-fontAlphabet">Contact</span>
	<span class="txt-contentHeadJp">お問い合わせ</span>
</h2><!-- /.ttl-contentHead -->

<div class="box-addToContactInner">

	<p class="txt-addToContactMain">資料請求やご相談など、あらゆるお問い合わせを受け付けております。どうぞお気軽にお問い合わせください。</p>
	
	<dl class="data-addToContact">
		<dt class="ttl-addToContact">※資料請求の資料内容</dt>
		<dd class="txt-addToContact">・ロイヤルハウスガイド・ＳＳＳ構法テクノロジーガイド・ロイヤルハウス企画商品カタログ（本部サイト参照）</dd>
		<dd class="txt-addToContact">・施工事例集・北出木材工業についてのご案内・間取りと金額が分かる施工例・土地情報</dd>
	</dl><!-- /.data-addToContact -->
	
<%- include("../btn/btn-transition", {
	txtTransition: "Contact"
}) %>
	
</div><!-- /.box-addToContactInner -->

</div><!-- /.box-addToContact -->