<div class="box-addToWorks">

<h2 class="ttl-contentHead">
	<span class="txt-contentHeadEn txt-fontAlphabet">Works</span>
	<span class="txt-contentHeadJp">施工事例</span>
</h2><!-- /.ttl-contentHead -->

<ul class="list-addToWorks">
	<li class="item-addToWorks">
		<a href="#"><img src="../img/top/tmbNews.png" alt="『施工事例』のサムネイル" width="100%" height=""></a>
	</li><!-- /.item-addToWorks -->
	
	<li class="item-addToWorks">
		<a href="#"><img src="../img/top/tmbNews.png" alt="『施工事例』のサムネイル" width="100%" height=""></a>
	</li><!-- /.item-addToWorks -->
	
	<li class="item-addToWorks">
		<a href="#"><img src="../img/top/tmbNews.png" alt="『施工事例』のサムネイル" width="100%" height=""></a>
	</li><!-- /.item-addToWorks -->
	
	<li class="item-addToWorks">
		<a href="#"><img src="../img/top/tmbNews.png" alt="『施工事例』のサムネイル" width="100%" height=""></a>
	</li><!-- /.item-addToWorks -->
	
	<li class="item-addToWorks">
		<a href="#"><img src="../img/top/tmbNews.png" alt="『施工事例』のサムネイル" width="100%" height=""></a>
	</li><!-- /.item-addToWorks -->
</ul><!-- /.list-addToWorks -->

<%- include("../btn/btn-transition", {
		txtTransition: "Read More"
}) %>

</div><!-- /.box-addToWorks -->