@import "./../_template/ttl/ttl-pageHead";
@import "./../_template/ttl/ttl-contentHead";
@import "./../_template/btn/btn-transition";
@import "./../_template/box-addToWorks/box-addToWorks";
@import "./../_template/box-addToContact/box-addToContact";

.box-content-about-us {
  min-width: 1200px
}

@media screen and (max-width:812px) {
  .box-content-about-us {
    min-width: unset
  }
}

.newLine {
	display: none;
}

@media screen and (max-width:812px) {

.newLine {
	display: inline;
}
	
}

/* メインビジュアル */
/* PC view */
.box-pageHead {
    background: url(../img/about-us/bgMainVisual.jpg) top no-repeat;
    background-size: cover;
}

/* 見出し下のテキスト */
/* PC view */
.txt-concept {
	font-size: 16px;
	line-height: 2.6;
	width: 958px;
	margin: 36px auto 100px;
	letter-spacing: .15em;
	text-align: justify;
}

/* SP view */
@media screen and (max-width:812px) {

.txt-concept {
	font-size: 14px;
	width: 100%;
	margin: 40px auto 80px;
	padding: 0 20px;
	line-height: 2;
	box-sizing: border-box;
}

}

/* 弊社の強み */
/* PC view */
.list-strengths {
	width: 68%;
	min-width: 1200px;
	max-width: 1360px;
	margin: 48px auto 0;
}

.item-strengths {
	margin-bottom: 50px;
	position: relative;
	padding: 3% 0 5.5%;
	box-sizing: border-box;
	display: flex;
	
	&:nth-child(2n) {
		justify-content: flex-end;
	}
}

.data-strengths {
	background-color: rgba(242, 242, 242, .9);
	padding: 55px 0 45px;
	width: 50%;
	text-align: center;
}

.ttl-strengths {
	text-align: left;
	display: inline-block;
	font-size: 20px;
	color: #0d955a;
	letter-spacing: .12em;
	line-height: 1;
	margin-bottom: 30px;
}

.txt-strengths {
	font-size: 16px;
	line-height: 1.8;
	padding: 0 50px;
	box-sizing: border-box;
	letter-spacing: .12em;
	text-align: justify;
}

.box-strengthsInner {
	text-align: right;
	margin-top: 18px;
}

.btn-strengths {
	line-height: 1;
	color: #0d955a;
	text-decoration: none;
	transition-property: opacity;
	transition-duration: .3s;
	transition-timing-function: ease;
	
	&::after {
		content: ">>";
		display: inline-block;
		margin-left: 5px;
	}
	
	&:hover {
		opacity: .5;
	}
}

.tmb-strength {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}

.item-strengths:nth-child(2n) .tmb-strength {
	left: 0;
	right: unset;
}

/* SP view */
@media screen and (max-width:812px) {

.list-strengths {
	width: 100%;
	min-width: unset;
	max-width: unset;
	margin: 40px auto 0;
}

.item-strengths {
	margin-bottom: 35px;
	position: relative;
	padding: 40% 0 0;
	display: block;
}

.data-strengths {
	padding: 30px 15px 40px;
	box-sizing: border-box;
	width: calc(100% - 40px);
	margin: 0 auto;
}

.ttl-strengths {
	font-size: 15px;
	line-height: 2;
	margin-bottom: 15px;
}

.txt-strengths {
	font-size: 12px;
	padding: 0;
	line-height: 1.9;
}

.box-strengthsInner {
	text-align: center;
	margin-top: 18px;
}

.btn-strengths {
	line-height: 1;
	color: #0d955a;
	text-decoration: none;
	transition-property: opacity;
	transition-duration: .3s;
	transition-timing-function: ease;
	
	&::after {
		content: ">>";
		display: inline-block;
		margin-left: 5px;
	}
	
	&:hover {
		opacity: .5;
	}
}

.tmb-strength {
	right: unset;
	width: 100%;
}

.item-strengths:nth-child(2n) .tmb-strength {
	left: 0;
	right: unset;
}

}