<ul class="list-column">
	
	<li class="item-column">
		<a class="box-columnLink" href="#">
			<div class="tmb-column">
				<img src="../img/news/tmbNewsList.jpg" alt="サムネイル" width="100%" height="">
			</div>
			<div class="box-columnSpec interactionScroll interactionScrollActive">
				<p class="txt-columnCategory txt-fontAlphabet">Event</p>
				<h3 class="ttl-column">記事の見出し。ダミーです。</h3>
			</div> 
		</a><!-- /.box-columnLink -->
	</li>
	
	<li class="item-column">
		<a class="box-columnLink" href="#">
			<div class="tmb-column">
				<img src="../img/news/tmbNewsList.jpg" alt="サムネイル" width="100%" height="">
			</div>
			<div class="box-columnSpec interactionScroll interactionScrollActive">
				<p class="txt-columnCategory txt-fontAlphabet">Event</p>
				<h3 class="ttl-column">記事の見出し。ダミーです。</h3>
			</div> 
		</a><!-- /.box-columnLink -->
	</li>
	
	<li class="item-column">
		<a class="box-columnLink" href="#">
			<div class="tmb-column">
				<img src="../img/news/tmbNewsList.jpg" alt="サムネイル" width="100%" height="">
			</div>
			<div class="box-columnSpec interactionScroll">
				<p class="txt-columnCategory txt-fontAlphabet">Event</p>
				<h3 class="ttl-column">記事の見出し。ダミーです。</h3>
			</div> 
		</a><!-- /.box-columnLink -->
	</li>
	
	<li class="item-column">
		<a class="box-columnLink" href="#">
			<div class="tmb-column">
				<img src="../img/news/tmbNewsList.jpg" alt="サムネイル" width="100%" height="">
			</div>
			<div class="box-columnSpec interactionScroll">
				<p class="txt-columnCategory txt-fontAlphabet">Event</p>
				<h3 class="ttl-column">記事の見出し。ダミーです。</h3>
			</div> 
		</a><!-- /.box-columnLink -->
	</li>
	
	<li class="item-column">
		<a class="box-columnLink" href="#">
			<div class="tmb-column">
				<img src="../img/news/tmbNewsList.jpg" alt="サムネイル" width="100%" height="">
			</div>
			<div class="box-columnSpec interactionScroll">
				<p class="txt-columnCategory txt-fontAlphabet">Event</p>
				<h3 class="ttl-column">記事の見出し。ダミーです。</h3>
			</div> 
		</a><!-- /.box-columnLink -->
	</li>
	
	<li class="item-column">
		<a class="box-columnLink" href="#">
			<div class="tmb-column">
				<img src="../img/news/tmbNewsList.jpg" alt="サムネイル" width="100%" height="">
			</div>
			<div class="box-columnSpec interactionScroll">
				<p class="txt-columnCategory txt-fontAlphabet">Event</p>
				<h3 class="ttl-column">記事の見出し。ダミーです。</h3>
			</div> 
		</a><!-- /.box-columnLink -->
	</li>
	
	<li class="item-column">
		<a class="box-columnLink" href="#">
			<div class="tmb-column">
				<img src="../img/news/tmbNewsList.jpg" alt="サムネイル" width="100%" height="">
			</div>
			<div class="box-columnSpec interactionScroll">
				<p class="txt-columnCategory txt-fontAlphabet">Event</p>
				<h3 class="ttl-column">記事の見出し。ダミーです。</h3>
			</div> 
		</a><!-- /.box-columnLink -->
	</li>
	
	<li class="item-column">
		<a class="box-columnLink" href="#">
			<div class="tmb-column">
				<img src="../img/news/tmbNewsList.jpg" alt="サムネイル" width="100%" height="">
			</div>
			<div class="box-columnSpec interactionScroll">
				<p class="txt-columnCategory txt-fontAlphabet">Event</p>
				<h3 class="ttl-column">記事の見出し。ダミーです。</h3>
			</div> 
		</a><!-- /.box-columnLink -->
	</li>
	
	<li class="item-column">
		<a class="box-columnLink" href="#">
			<div class="tmb-column">
				<img src="../img/news/tmbNewsList.jpg" alt="サムネイル" width="100%" height="">
			</div>
			<div class="box-columnSpec interactionScroll">
				<p class="txt-columnCategory txt-fontAlphabet">Event</p>
				<h3 class="ttl-column">記事の見出し。ダミーです。</h3>
			</div> 
		</a><!-- /.box-columnLink -->
	</li>
	
	<li class="item-column">
		<a class="box-columnLink" href="#">
			<div class="tmb-column">
				<img src="../img/news/tmbNewsList.jpg" alt="サムネイル" width="100%" height="">
			</div>
			<div class="box-columnSpec interactionScroll">
				<p class="txt-columnCategory txt-fontAlphabet">Event</p>
				<h3 class="ttl-column">記事の見出し。ダミーです。</h3>
			</div> 
		</a><!-- /.box-columnLink -->
	</li>
	
</ul>